body{
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1{
    text-align: center;
    color: blue;
}

#resultado{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
}

section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}